/* Space out content a bit */

a:link {color:#399f70;}
a:visited {color:#399f70;}
a:hover {color:#c4e9d6;
         text-decoration:none;}

body {
  padding-top: 20px;
  padding-bottom: 20px;

  background-image: url("../images/kasi_vectored_lightgreen.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: fixed;
  background-size: 40%;
}

@media screen and (min-width : 1224px) {
  body {
    background-size: 500px;
  }
}

@media screen and (max-width : 599px) {
  body {
    background-size: 1px;
  }
}

.form-control {
  background-color: transparent;
}

.tabs{
  font-size: 1.5em;
}

.tabs a{
  margin-right: 1em;
}

a.active{
  color:black;
  font-size: 1.8em;
}

a.text-muted:hover{
  color:#999999
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

.header p{
  margin-top:2vh;
}

.header i {
  font-size: 1.2em;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.pull-right a{
  color:black;
}

.dropdown-list {
  margin-bottom: 2vh;
}

.form-control{
  margin-bottom: 2vh;
}
