<div class="header">
  <div class="pull-right">
    <h4>by <a href="http://www.aaltohelsinki.com/index_en.html">Aalto-Helsinki</a></h4>
  </div>
  <h3 class="text-muted">BioBrick Seeker</h3>
  <i>Search through the iGEM 2014 distribution.</i>
  <br>
  <p>If you use this tool in your iGEM project, please mention it in your wiki and let us know: <a href="https://twitter.com/AaltoHelsinki">@AaltoHelsinki</a> or team@aaltohelsinki.com.</p>
</div>

<div>
    <div class="dropdown-list">
    <br>
      <b>Choose Type: </b>
      <select ng-model="criteria.Type">
          <option value="">Any</option>
          <option ng-repeat="entry in entries | unique:'Type'" value={{entry.Type}}>
            {{entry.Type}}
          </option>
      </select>
    <br>
  </div>
  <div class="dropdown-list">
    <b>Choose Plasmid: </b>
      <select ng-model="criteria.Plasmid">
          <option value="">Any</option>
          <option ng-repeat="entry in entries | unique:'Plasmid'" value={{entry.Plasmid}}>
            {{entry.Plasmid}}
          </option>
      </select>
    <br>
  </div>
  <input placeholder="Search by entry descriptions" class="form-control" ng-model="criteria.Description"></input>
  <input placeholder="Search by part names" class="form-control" ng-model="criteria.Part"></input>
  <ul>
    <li ng-repeat="entry in entries | filter:criteria">
      <b><a href="http://parts.igem.org/Part:{{entry.Part}}" target="_blank">{{entry.Part}}</a></b> <b>{{entry.Description}}</b>
      <ul>
        <li>Location: (Plate {{entry.Plate - 3084}}) {{entry.Well}}</li>
        <li>Type: {{entry.Type}}</li>
        <li>Plasmid: {{entry.Plasmid}}</li>
      </ul>
    </li>
  </ul>
</div>

<div class="footer">
  <p>from the Aalto-Helsinki team</p>
</div>
