<div class="header">
  <div class="pull-right">
    <h4>by <a href="http://www.aaltohelsinki.com/index_en.html">Aalto-Helsinki</a></h4>
  </div>
  <div class ="tabs">
    <a href="http://igem-qsf.github.io/iGEM-Team-Seeker/dist/" class="active">Team Seeker</a>
    <a href="http://igem-qsf.github.io/BioBrick-Seeker/dist/" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-arrow-right"></span> Search BioBricks</a>
  </div>
  <br>
  <i>Search through previous iGEM teams from 2008 to 2013.</i>
  <br><br>
</div>

<div>
  <form ng-submit="phraseSearch()">
  <input placeholder="Search project descriptions with words separated by spaces. eg. 'bioplastic worms'" class="form-control" ng-model="criteria.Abstract"></input>
  <input type="submit" id="submit" value="Submit">
  </form>
  <br>
  <ul>
    <li ng-repeat="entry in entries | filter:onlyOverZero | orderBy:getScore">
      <b><a href="http://{{entry.Year}}.igem.org/Team:{{entry.Team}}" target="_blank">{{entry.Team}}: {{entry.Year}}</a></b> <b>{{entry.Description}}</b>
      <ul>
        <li>{{entry.Abstract}}</li>
      </ul>
    </li>
  </ul>
</div>
<div class="footer">
  <p>from the Aalto-Helsinki team</p>
</div>